<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TicketShop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/logo.png}"  src="../static/logo.png" width="auto" height="40" class="d-inline-block align-top" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">Admin's main page</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form th:action="@{/admin/artists/add}" method="post" th:object="${artist}" enctype="multipart/form-data">
                <input type="hidden" name="id"  th:field="*{id}">
                <div class="form-group">
                    <label for="knownAs">Nickname</label>
                    <input type="text" class="form-control" required th:field="*{knownAs}" name="knownAs" id="knownAs"  placeholder="Enter Artistic Nickname">
                    <label for="genre">Music Genre</label>
                    <input type="text" class="form-control" required th:field="*{genre}" name="genre" id="genre"  placeholder="Enter Music Genre">
                    <label for="genre">Artist photo</label>
                    <input type="file"  class="form-control" name="artistImage" id="artistImage" accept="image/jpeg, image/png">
                    <img id="imgPreview" height="100px" width="100px" th:src="@{${'/images/' + artist.imageName}}" style="margin-top: 20px" alt=" ">
                    <input method="POST" type="hidden" name="imgName" th:value="${artist.imageName}">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="text-center text-muted">&copy; 2022 TicketShop</br>Created by carles2701</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://github.com/carles2701"><i class="fa fa-github" style="font-size:36px;color:black"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/karol-bagi%C5%84ski-bb80861a8/"><i class="fa fa-linkedin-square" style="font-size:36px;color:blue"></i></a></li>
        <li class="list-inline-item"><a href="mailto:carles2701@gmail.com"><i class="fa fa-google" style="font-size:36px;color:red"></i></a></li>
    </ul>
</footer>
</html>